<!--
Составить список расходов/бюджет.
Пользователь добавляет расход по заданной категории, после чего может наблюдать сводную таблицу по расходам, фильтровать по категории.
бонусом: сделать сортировку при помощи фильтра
-->


<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Контроль расходов</title>
  <script type="application/javascript" src="components/a.js"></script>
  <style>

    .wrapTable {
      overflow: hidden;
    }

    .wrapTable > span {
      font-size: 0.9em;
      color: #2b00ff;
      display: block;
      margin-bottom: 10px;
    }

    table, tr, th, td {
      border: 1px solid black;
      padding: 5px;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 10px;
      float: left;
      margin-right: 10px;
    }

    tr:last-child {
      font-weight: bold;
    }

    td:nth-child(n+2) {
      min-width: 100px;
      padding: 5px;
    }

    td > input {
      width: 90px
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input {
      margin: 5px 0;
    }

    .error {
      border: 2px solid red;
    }

    .errorInfo {
      color: red;
      font-size: 0.8em;
    }
  </style>
  <script>
    var myApp = angular.module('myApp', []);
    myApp.controller('expenditureСontrol', function ($scope, $filter) {
      $scope.consumptionItems = [
        {
          name: 'яблоки',
          category: 'продукты',
          amount: 2,
          price: 55
        },
        {
          name: 'штаны',
          category: 'одежда',
          amount: 1,
          price: 1500
        },
        {
          name: 'чайник',
          category: 'техника',
          amount: 1,
          price: 999
        }
      ];
      $scope.btnAdd = true;
      $scope.search = {
        name: '',
        category: ''
      };
      $scope.filterShow = false;

      $scope.addForm = {
        show: false,
        name: 'Название',
        category: 'Категория',
        amount: 'Количество',
        price: 'Стоимость',
        errorClass: {
          name: '',
          category: '',
          amount: '',
          price: ''
        }
      }
      ;

      $scope.showAddForm = function () {
        $scope.btnAdd = false;
        $scope.addForm.show = true;
      };
      $scope.addItem = function () {
        var valid = true;
        if (!$scope.newItem || !$scope.newItem.name || $scope.newItem.name.length === 0) {
          $scope.addForm.errorClass.name = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.name = '';

        }
        if (!$scope.newItem || !$scope.newItem.category || $scope.newItem.category.length === 0) {
          $scope.addForm.errorClass.category = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.category = '';
        }
        if (!$scope.newItem || !$scope.newItem.amount || isNaN($scope.newItem.amount)) {
          $scope.addForm.errorClass.amount = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.amount = '';

        }
        if (!$scope.newItem || !$scope.newItem.price || isNaN($scope.newItem.price)) {
          $scope.addForm.errorClass.price = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.price = '';
        }

        if (valid) {
          $scope.consumptionItems.push(JSON.parse(JSON.stringify($scope.newItem)));
          $scope.btnAdd = true;
          $scope.addForm.show = false;
          $scope.newItem = null;
        }
      };
      $scope.closeForm = function () {
        $scope.btnAdd = true;
        $scope.addForm.show = false;
        $scope.newItem = null;
        $scope.addForm.errorClass = {
          name: '',
          category: '',
          amount: '',
          price: ''
        }
      };
      $scope.getTotal = function () {
        var total = 0;
        var filterData = $filter('filter')($scope.consumptionItems, $scope.search);
        for (var item in filterData) {
          if (filterData.hasOwnProperty(item)) {
            total += filterData[item].amount * filterData[item].price;
          }
        }
        return total;
      };
      $scope.clickOrder = function (item) {
        if ($scope.orderBy === item) {
          $scope.orderBy = '-' + item;
        } else {
          $scope.orderBy = item;

        }
      };
      $scope.clickShowFilter = function () {
        if ($scope.filterShow) {
          $scope.filterShow = false;
          $scope.search.name = '';
          $scope.search.category = '';
        } else {
          $scope.filterShow = true;
        }
      };
    })

  </script>
</head>
<body>
<div ng-controller="expenditureСontrol">
  <div class="wrapTable">
    <table>
      <tr>
        <th>№</th>
        <th ng-click="clickOrder('name')">Название</th>
        <th ng-click="clickOrder('category')">Категория</th>
        <th>Количество</th>
        <th>Стоимость</th>
      </tr>
      <tr ng-show="filterShow">
        <td></td>
        <td>
          <input type="text" ng-model="search.name">
        </td>
        <td>
          <input type="text" ng-model="search.category">
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="item in consumptionItems | filter:search | orderBy: orderBy">
        <td>{{$index+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.price*item.amount}}</td>
      </tr>
      <tr>
        <td colspan="4">ИТОГО:</td>
        <td>{{getTotal()}}</td>
      </tr>
    </table>
    <span>Для сортировки кликнуть по заголовку нужного столбца</span>
    <button ng-click="clickShowFilter()">Фильтр</button>
  </div>
  <button type="button" ng-show="btnAdd" ng-click="showAddForm()">Добавить</button>
  <form ng-show="addForm.show">
    <div>
      <input type="text" ng-class="addForm.errorClass.name" ng-model="newItem.name" placeholder="{{addForm.name}}">
      <span class="errorInfo" ng-show="addForm.errorClass.name.length > 0">Введите название</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.category" ng-model="newItem.category"
             placeholder="{{addForm.category}}">
      <span class="errorInfo" ng-show="addForm.errorClass.category.length > 0">Введите категорию</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.amount" ng-model="newItem.amount"
             placeholder="{{addForm.amount}}">
      <span class="errorInfo" ng-show="addForm.errorClass.amount.length > 0">Должно быть число</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.price" ng-model="newItem.price" placeholder="{{addForm.price}}">
      <span class="errorInfo" ng-show="addForm.errorClass.price.length > 0">Должно быть число</span>
    </div>
    <div>
      <button type="button" ng-click="addItem()">Ok</button>
      <button type="button" ng-click="closeForm()">Закрыть</button>
    </div>
  </form>
</div>

</body>
</html>

