<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Контроль расходов</title>
  <script type="application/javascript" src="components/a.js"></script>
  <script src="http://code.angularjs.org/snapshot/angular-animate.js"></script>
  <style>
    table, tr, th, td{
      border: 1px solid black;
      padding: 5px;
    }
    table{
      border-collapse: collapse;
      margin-bottom: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input {
      margin: 5px 0;
    }

    .error {
      border: 2px solid red;
    }

    .errorInfo {
      color: red;
      font-size: 0.8em;
    }
  </style>
  <script>
    var myApp = angular.module('myApp', []);
    myApp.controller('expenditureСontrol', function ($scope) {
      $scope.consumptionItems = [
        {
          name: 'яблоки',
          category: 'продукты',
          amount: 2,
          price: 55
        },
        {
          name: 'штаны',
          category: 'одежда',
          amount: 1,
          price: 1500
        },
        {
          name: 'чайник',
          category: 'техника',
          amount: 1,
          price: 999
        }
      ];
      $scope.btnAdd = true;

      $scope.addForm = {
        show: false,
        name: 'Название',
        category: 'Категория',
        amount: 'Количество',
        price: 'Стоимость',
        errorClass: {
          name: '',
          category: '',
          amount: '',
          price: ''
        }
      }
      ;

      $scope.showAddForm = function () {
        $scope.btnAdd = false;
        $scope.addForm.show = true;
      };
      $scope.addItem = function () {
        var valid = true;
        if (!$scope.newItem || !$scope.newItem.name || $scope.newItem.name.length === 0) {
          $scope.addForm.errorClass.name = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.name = '';

        }
        if (!$scope.newItem || !$scope.newItem.category || $scope.newItem.category.length === 0) {
          $scope.addForm.errorClass.category = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.category = '';
        }
        if (!$scope.newItem || !$scope.newItem.amount || isNaN($scope.newItem.amount)) {
          $scope.addForm.errorClass.amount = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.amount = '';

        }
        if (!$scope.newItem || !$scope.newItem.price || isNaN($scope.newItem.price)) {
          $scope.addForm.errorClass.price = 'error';
          valid = false;
        } else {
          $scope.addForm.errorClass.price = '';
        }

        if (valid) {
          $scope.consumptionItems.push(JSON.parse(JSON.stringify($scope.newItem)));
          $scope.btnAdd = true;
          $scope.addForm.show = false;
          $scope.newItem = null;
        }
      };
      $scope.closeForm = function () {
        $scope.btnAdd = true;
        $scope.addForm.show = false;
        $scope.newItem = null;
        $scope.addForm.errorClass = {
          name: '',
          category: '',
          amount: '',
          price: ''
        }
      };
      $scope.getTotal = function () {
        var total = 0;
        for(var item in $scope.consumptionItems){
          if($scope.consumptionItems.hasOwnProperty(item)){
            total += $scope.consumptionItems[item].amount * $scope.consumptionItems[item].price;
          }
        }
        return total;
      }
    })

  </script>
</head>
<body>
<div ng-controller="expenditureСontrol">
  <table>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Количество</th>
      <th>Стоимость</th>
    </tr>
    <tr ng-repeat="item in consumptionItems">
      <td>{{$index+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.price*item.amount}}</td>
    </tr>
    <tr>
      <td colspan="4">ИТОГО:</td>
      <td>{{getTotal()}}</td>
    </tr>
  </table>
  <button type="button" ng-show="btnAdd" ng-click="showAddForm()">Добавить</button>
  <form ng-show="addForm.show">
    <div>
      <input type="text" ng-class="addForm.errorClass.name" ng-model="newItem.name" placeholder="{{addForm.name}}">
      <span class="errorInfo" ng-show="addForm.errorClass.name.length > 0">Введите название</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.category" ng-model="newItem.category"
             placeholder="{{addForm.category}}">
      <span class="errorInfo" ng-show="addForm.errorClass.category.length > 0">Введите категорию</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.amount" ng-model="newItem.amount"
             placeholder="{{addForm.amount}}">
      <span class="errorInfo" ng-show="addForm.errorClass.amount.length > 0">Должно быть число</span>
    </div>
    <div>
      <input type="text" ng-class="addForm.errorClass.price" ng-model="newItem.price" placeholder="{{addForm.price}}">
      <span class="errorInfo" ng-show="addForm.errorClass.price.length > 0">Должно быть число</span>
    </div>
    <div>
      <button type="button" ng-click="addItem()">Ok</button>
      <button type="button" ng-click="closeForm()">Закрыть</button>
    </div>
  </form>
</div>

</body>
</html>

