#content{
    width: 50%;
    margin: 10px auto;
}

#wrapRootMenu{
    margin: 10px 0;
    text-align: center;
}

#wrapRootMenu a{
    text-decoration: none;
    margin: 5px;
}

.wrapLogin,
.wrapRegister,
.wrapMessages,
.wrapSendMessage{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapLogin form,
.wrapRegister form,
.wrapSendMessage form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wrapLogin form input,
.wrapRegister form input,
.wrapSendMessage form input{
    margin-bottom: 5px;
}

.wrapMessage,
#wrapSendMessage{
    width: 500px;
    margin: 10px 0;
    border: 1px solid black;
    padding: 3px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.wrapMessage.success{
    background-color: rgba(30, 123, 11, 0.36);
}

.wrapMessage.error{
    background-color: rgba(200, 12, 5, 0.57);
}

.titleMessage{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bodyMessage{
    font-size: 1.5em;
}
